body {
    background-color: white;
}

header {
    background-color: #ebebeb;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

nav a {
    text-align: center;
    color: #9babef;
    text-decoration: none;
}

nav a:hover {
    background-color: #291840;
    color: white;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.logo {
    width: 80px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    background-color: #291840;
    height: 725px;
}

.book:hover {
    background-color: #291840;
    color: white;
}

.join, footer p a, .book  {
    text-decoration: none;
}

.join:hover {
    color: white;
    background-color: #291840;
}

.msg {
    background-color: #ebebeb;
    color: #291840;
}

.icon {
    width: 80px;
}

footer {
    background-color: #ebebeb;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
    background-color: #291840;
    color: white;
}